# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [ ]:
#Modulo 4 EX01
#Aluno: Mario Carvalho

In [5]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalias_termicas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
TemperaturasMediaSemIndice = pd.Series(anomalias_termicas)
TemperaturasMediaSemIndice

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [7]:
# seu código aqui
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
TemperaturasMediasComIndice = pd.Series(anomalias_termicas, indice)
TemperaturasMediasComIndice

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [8]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
TemperaturasMediasDict = pd.Series(dic_temperaturas)
TemperaturasMediasDict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [19]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
dfARR = pd.DataFrame(arr)
dfARR

             0           1           2
0    95.723664   90.736199  119.139907
1   109.666330  112.460606   97.013224
2    99.463995  107.682061   95.940341
3    83.459461   86.443460  100.401711
4   100.788051   92.017483  116.820410
5    90.988960   94.834610   88.530433
6    93.125025   93.274019  101.952713
7   103.153564  104.874105  111.561368
8    83.599045  115.529349   92.337379
9   108.665475   98.379443  101.412821
10  100.439067  114.993531  105.377001
11  118.607361   94.172193   84.922587
12   80.766274   97.329261  111.285226
13  102.656866   98.128942   79.717404
14   94.022583   74.449549   97.996109
15   96.488067  106.727612   98.580627
16  125.743824   93.234421  112.514896
17   97.101653   89.801182  107.328965
18   86.868369   90.601074   90.687107
19  103.171822   88.046343  112.123407

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [24]:
#seu código aqui
dfARR = pd.DataFrame(arr, index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
                    columns = ['x1', 'x2', 'x3'])
dfARR

            x1          x2          x3
1    95.723664   90.736199  119.139907
2   109.666330  112.460606   97.013224
3    99.463995  107.682061   95.940341
4    83.459461   86.443460  100.401711
5   100.788051   92.017483  116.820410
6    90.988960   94.834610   88.530433
7    93.125025   93.274019  101.952713
8   103.153564  104.874105  111.561368
9    83.599045  115.529349   92.337379
10  108.665475   98.379443  101.412821
11  100.439067  114.993531  105.377001
12  118.607361   94.172193   84.922587
13   80.766274   97.329261  111.285226
14  102.656866   98.128942   79.717404
15   94.022583   74.449549   97.996109
16   96.488067  106.727612   98.580627
17  125.743824   93.234421  112.514896
18   97.101653   89.801182  107.328965
19   86.868369   90.601074   90.687107
20  103.171822   88.046343  112.123407

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [26]:
# seu código aqui
dfARR['media'] = (dfARR['x1'] + dfARR['x2'] + dfARR['x3']) / 3
dfARR

            x1          x2          x3       media
1    95.723664   90.736199  119.139907  101.866590
2   109.666330  112.460606   97.013224  106.380053
3    99.463995  107.682061   95.940341  101.028799
4    83.459461   86.443460  100.401711   90.101544
5   100.788051   92.017483  116.820410  103.208648
6    90.988960   94.834610   88.530433   91.451334
7    93.125025   93.274019  101.952713   96.117252
8   103.153564  104.874105  111.561368  106.529679
9    83.599045  115.529349   92.337379   97.155258
10  108.665475   98.379443  101.412821  102.819246
11  100.439067  114.993531  105.377001  106.936533
12  118.607361   94.172193   84.922587   99.234047
13   80.766274   97.329261  111.285226   96.460254
14  102.656866   98.128942   79.717404   93.501071
15   94.022583   74.449549   97.996109   88.822747
16   96.488067  106.727612   98.580627  100.598769
17  125.743824   93.234421  112.514896  110.497714
18   97.101653   89.801182  107.328965   98.077267
19   86.868369   90.601074   90.687107   89.385516
20  103.171822   88.046343  112.123407  101.113857

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [28]:
# seu código aqui
dfARR['log_med'] = np.log(dfARR['media'])
dfARR

            x1          x2          x3       media   log_med
1    95.723664   90.736199  119.139907  101.866590  4.623664
2   109.666330  112.460606   97.013224  106.380053  4.667018
3    99.463995  107.682061   95.940341  101.028799  4.615406
4    83.459461   86.443460  100.401711   90.101544  4.500937
5   100.788051   92.017483  116.820410  103.208648  4.636753
6    90.988960   94.834610   88.530433   91.451334  4.515807
7    93.125025   93.274019  101.952713   96.117252  4.565569
8   103.153564  104.874105  111.561368  106.529679  4.668424
9    83.599045  115.529349   92.337379   97.155258  4.576310
10  108.665475   98.379443  101.412821  102.819246  4.632973
11  100.439067  114.993531  105.377001  106.936533  4.672236
12  118.607361   94.172193   84.922587   99.234047  4.597481
13   80.766274   97.329261  111.285226   96.460254  4.569131
14  102.656866   98.128942   79.717404   93.501071  4.537973
15   94.022583   74.449549   97.996109   88.822747  4.486643
16   96.488067  106.727612   98.580627  100.598769  4.611140
17  125.743824   93.234421  112.514896  110.497714  4.704995
18   97.101653   89.801182  107.328965   98.077267  4.585756
19   86.868369   90.601074   90.687107   89.385516  4.492959
20  103.171822   88.046343  112.123407  101.113857  4.616247